.container {
  padding: 0 16px;
  font-family: "Noto Sans TC";
}

.tweet-user-info {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 8px;
  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 8px;
  }
  .user-name-group {
    & .name {
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
    }
    & .account {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      color: var(--color-secondary);
    }
  }
}
.tweet-content {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  /*內容太長要換行*/
  word-break: break-all;
}
.tweet-update-detail {
  padding: 8px 0;
  display: flex;
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  border-bottom: 1px solid #E6ECF0;
  >:not(:last-child) {
    margin-right: 4px;
  }
}
.tweet-number-detail {
  display: flex;
  font-size: 19px;
  padding: 16px 0;
  border-bottom: 1px solid #E6ECF0;
  /* 子元件第一層margin */
  &>:not(:last-child) {
    margin-right: 24px;
  }
  & .tweet-reply,.tweet-like {
    display: flex;
    align-items: center;
  }
  & .number {
    color: var(--color-dark-black);
    line-height: 23.16px;
    font-weight: 700;
    margin-right: 8px;
    font-family: "Montserrat";
  }
  & .title {
    color: var(--color-secondary);
    font-weight: 500;
    line-height: 27.51px;
  }
}
.tweet-social-group {
  display: flex;
  padding: 19px 0;
  & .reply-icon {
    margin-right: 150px;
  }
  & .reply-icon,.like-icon {
    cursor: pointer;
  }
}