.container {
  font-family: "Noto Sans TC";
  border: 1px solid #E6ECF0;
  height: 100%;
  overflow-y: scroll;
}
.profile-navbar {
  position: fixed;
  background-color: var(--color-white);
  opacity: 0.95;
  width: 502.208px;

  @media screen and (max-width:1200px) {
    width: 398px;
  }
}

.follow-list {
  padding-top: 132.5px;
}