.container {
  font-family: "Noto Sans TC";
  border: 1px solid #E6ECF0;
  height: 100%;
  overflow-y: scroll;
  position: relative;
}
.profile-navbar {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  opacity: 0.95;
  width: 100%;
}
