// Normal size button
.bg-logo {
  width: 100%;
  border-radius: 50px;
  color: var(--color-white);
  background-color: var(--logo-color);
  font-size: var(--main-text-size);
  padding: 8px 16px;
  font-family: "Noto Sans TC";
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 3px 3px rgba(201, 196, 196, 0.8);
  }
}

.bg-white {
  width: 100%;
  border-radius: 50px;
  color: var(--logo-color);
  background-color: var(--color-white);
  border: 1px solid var(--logo-color);
  font-size: var(--main-text-size);
  padding: 8px 16px;
  font-family: "Noto Sans TC";
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 3px 3px rgba(201, 196, 196, 0.8);
  }
}

// Large size button
.lg-bg-logo {
  width: 100%;
  border-radius: 50px;
  color: var(--color-white);
  background-color: var(--logo-color);
  font-size: 20px;
  line-height: 30px;
  padding: 8px 24px;
  font-family: "Noto Sans TC";
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 3px 3px rgba(201, 196, 196, 0.8);
  }
}
