.container {
  width: 273px;
  background-color: var(--color-light-sliver);
  margin-top: 16px;
  margin-left: 24px;
  border-radius: 16px;
}
.popular__title {
  font-weight: 700;
  font-family: sans-serif;
  padding: 24px;
  border-bottom: 1px solid #e6ecf0;
}
