.container {
  font-family: "Noto Sans TC";
}
.profile-title {
  position: fixed;
  background-color: var(--color-white);
  opacity: 0.9;
  z-index: 2;
  width: 502.208px;
  @media screen and (max-width:1200px) {
      width: 398px;
    }
}

.background-avatar {
  width: 100%;
  padding-top: 75px;
  .avatar-img {
    width: 100%;
    object-fit: cover;
  }
}