.container {
  font-family: "Noto Sans TC";
}
.profile-title {
  position: fixed;
  top: 0;
  background-color: var(--color-white);
  opacity: 0.9;
  z-index: 2;
  width: 649px;
  @media screen and (max-width:1200px) {
      width: 394px;
    }
}

.background-avatar {
  width: 100%;
  height: 200px;
  padding-top: 76px;
  .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}