.container {
  display: flex;
  font-family: sans-serif;
  padding: 18px 24px;
  border-bottom: 1px solid #E6ECF0;
  font-family: "Noto Sans TC";
}
.user-avatar {
  .avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }
}
.tweet-user-info {
flex-grow: 1
}
.tweet-content {
  margin-left: 8px;
  margin-bottom: 9px;
  cursor: pointer;
  .tweet-content-link {
    text-decoration: none;
    color: var(--color-dark-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    /* 內容太長換行*/
    word-wrap: break-word;
  }
}
.tweet-social-list{
  display: flex;
  margin-left: 8px;
  & .tweet-social-group {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-secondary);
    font-family: "Montserrat";
    &:not(:last-child){
      margin-right: 41.3px;
    }
  }
  .reply-link,.like-btn {
    margin-right: 9.44px;
  }
}