.container {
  display: flex;
  flex-direction: column;
  padding: 8px 25px 16px 25px;
  border-top: 1px solid #e6ecf0 ;
  border-bottom: 10px solid #e6ecf0;
  font-family: "Noto Sans TC";
}
.input-body {
  display: flex;
  .user-avatar{
    .avatar-img {
      width: 50px;
      height: 50px;
      border-radius: 100px;
    }
  }
}
.input-textarea {
  width: 100%;
  margin-left: 8px;
  resize: none;
  border: transparent;
  outline: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-secondary);
  font-family: "Noto Sans TC";
}
.footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .error-message {
    margin-right: 20px;
    color: var(--color-error);
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
  }
}

.tweet-btn {
  display: flex;
}
.loading {
  width: 25px;
  height: 25px;
  border: 2px solid rgba(67, 234, 108,1);
  border-top-color: rgba(67, 234, 108, 0.2);
  border-right-color:rgba(67, 234, 108, 0.2);
  border-bottom-color: rgba(67, 234, 108, 0.2);
  border-radius: 100%;
  margin-right: 15px;
  align-self: center;

  animation: circle infinite 0.75s linear;
}
.loading-btn {
    text-align: start;
    padding: 8px 16px;
    background-color: var(--color-skyblue);
    border: none;
    border-radius: 50px;
    color: var(--color-white);
    font-size: var(--main-text-size);
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

