.container {
  display: flex;
  flex-direction: column;
  padding: 8px 25px 16px 25px;
  border-top: 1px solid #e6ecf0 ;
  border-bottom: 10px solid #e6ecf0;
  font-family: "Noto Sans TC";
}
.input-body {
  display: flex;
}
.input-textarea {
  width: 100%;
  margin-left: 8px;
  resize: none;
  border: transparent;
  outline: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-secondary);
}
.footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}