.container {
  background-color: var(--color-light-sliver);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-family: sans-serif;
  border-radius: 16px;
}
.user-info {
  margin-right: auto;
  margin-left: 8px;
}
.user-avatar path {
  fill: rgb(237, 230, 230);
  filter: brightness(0.6);
}
.user-name {
  color: var(--color-dark-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.user-account {
  color: var(--color-dark-grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.follow-btn {
  background-color: rgb(51, 171, 171);
}