.container {
  background-color: var(--color-light-sliver);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-family: "Noto Sans TC";
  border-radius: 16px;
}
.user-info {
  margin-right: auto;
  margin-left: 8px;
  /* 調整寬度 */
  width: 36%;
}
.user-avatar  {
  width: 50px;
  height: 50px;
  border-radius: 100px;

}
.user-name {
  color: var(--color-dark-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  /* 超過寬度顯示...*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.user-account {
  color: var(--color-dark-grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.follow-btn {
  background-color: rgb(51, 171, 171);
}