.layout-container {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(280px, 1fr) minmax(708px, 4.639fr);
  grid-auto-rows: 100vh;
}

.column-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.column-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}