.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.popup-main-window {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 56px;
  transform: translate(-50%, 0);
  width: 45.28%;
  /*根據內容自動撐高*/
  height: auto;
  min-height: auto;
  background-color: #fff;
  border-radius: 14px;
  z-index: 6;
  font-family: "Noto Sans TC";
  animation: MoveIn 0.5s 1 forwards;
}

// popup滑入動畫
@keyframes MoveIn {
  0% {
    transform: translate(-50%, -100px);
  }

  100% {
    transform: translate(-50%, 0px);
  }

}

.popup-head {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #E6ECF0;

  .btn-close {
    text-align: start;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100px;

    &:hover {
      background-color: rgb(198, 216, 233);
    }
  }
}

/* 使用者推文輸入框樣式 */
.popup-body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding: 0 24px;
  // height: 192px;
  display: flex;
.tweet-info-body {
  display: flex;
  .avatar-main {
    & .tweeter-avatar {
        width: 50px;
        height: 50px;
        border-radius: 100px;
    }
    & .connect-line {
      position: relative;
      left: 24px;
      width: 2px;
      height: 86px;
      background-color: var(--color-input-disable-grey);
      margin: 16px 0px;
    }
  }
  .tweet-content {
    color: var(--color-dark-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-left: 8px;
    /*內容太長要換行*/
    word-break: break-all;
  }
  .response-to-user {
    display: flex;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-left: 8px;
    margin-top: 11px;
    .response-title-1 {
      color: var(--color-secondary);
      margin-right: 4px;
    }
    .response-title-2 {
      color: var(--logo-color);
    }
  }

  
}
.input-main-body {
  display: flex;
  & .user-avatar {
      & .avatar-img {
         width: 50px;
         height: 50px;
         border-radius: 100px;
      }
    }
  
    & .input-body {
      margin-left: 8px;
      width: 100%;
      /* 最小輸入高度*/
      min-height: 183px;
  
     & .input-textarea {
        /* textarea撐滿剩餘空間*/
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        color: var(--color-secondary);
        font-family: "Noto Sans TC";
  
        /*textarea scrollbar關掉*/
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }  
}
  


}

.popup-footer {
  padding: 0 16px;
  margin-bottom: 16px ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .reply-btn {
    outline: none;
  }

  .error-message {
    margin-right: 20px;
    color: var(--color-error);
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
  }
}

.loading {
  width: 25px;
  height: 25px;
  border: 2px solid rgba(67, 234, 108, 1);
  border-top-color: rgba(67, 234, 108, 0.2);
  border-right-color: rgba(67, 234, 108, 0.2);
  border-bottom-color: rgba(67, 234, 108, 0.2);
  border-radius: 100%;
  margin-right: 15px;
  align-self: center;

  animation: circle infinite 0.75s linear;
}
.reply-btn {
  display: flex;
}
.loading-btn {
  text-align: start;
  padding: 8px 16px;
  background-color: var(--color-skyblue);
  border: none;
  border-radius: 50px;
  color: var(--color-white);
  font-size: var(--main-text-size);
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}