.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  border: 1px solid #E6ECF0;
  height: 100vh;
  /* 用web-kit 改一下scrollbar樣式*/
  overflow-y: scroll;
}
.page-title-wrap {
  display: flex;
  position: fixed;
  top: 0;
  width: 648px;
  align-items: center;
  padding: 24px 28px;
  border-bottom: 1px solid #E6ECF0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-dark-black);
  cursor: pointer;
  background-color: var(--color-white);
    opacity: 0.9;
  @media screen and (max-width:1200px) {
      width: 393px;
    }
}
.arrow-img {
  margin-right: 19px;
}
/* 下推74px 讓上面首頁可以置頂*/
.tweet-info-wrap {
  margin-top: 74px;
}


